@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--color-primary);
    color: var(--color-accent);
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-background);
    color: var(--color-accent);
  }

  .input-field {
    border-color: var(--color-secondary);
  }
}

@layer utilities {
  .focus\:ring-primary:focus {
    box-shadow: 0 0 0 2px var(--color-background);
  }

  .focus\:ring-secondary:focus {
    box-shadow: 0 0 0 2px var(--color-secondary);
  }
}
